.layout-transparent {
  background: url('images/204H.jpg') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.center{
  text-align:center;
}
.demo-card.mdl-card{
  margin-top:25%;
  width:100%;
}

.white{
  color:white;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
  }
  .demo-card-square > .mdl-card__title {
    color: #fff;
    background:
      url('images/Office With iMac.jpg') bottom right 15% no-repeat #46B6AC;
  }

